.column {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
  }
.password {
    width: 1000px;
    border-radius: 15px;
    background-color:white;
    color: black;
    margin: 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin: 8px;
    justify-content: center;
  }
  
  .label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    align-items: center;
    display: flex;
    width: 20x;
    justify-content: center;
  }
  
  .value {
    word-break: break-all;
    margin-left: 10px;
    text-align: right;
    font-size: 16px;
  }
  
  .btn {
    display: inline-flex;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    color:aliceblue;
    align-items: center;
    justify-content: center;

  }
  
  .btn--delete-btn {
    margin-left: 5px;
    display: inline-flex;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    background-color: red;
    color:aliceblue;
    align-items: center;
    justify-content: center;

  }

  
  
  
  